:root {
  --vp-c-brand-1: #1355da;
  --vp-c-brand-2: #1c61eb;
  --vp-c-brand-3: #3371ed;
  --vp-c-brand-soft: #3371ed24;
  --vp-c-brand-bg: var(--vp-c-brand-3);
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #91b2f5;
  --vp-c-brand-2: #6292f1;
  --vp-c-brand-3: #1c61eb;
  --vp-c-brand-soft: #3371ed2e;
  --vp-c-brand-bg: var(--vp-c-brand-3);
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}
